* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clock-container {
  position: relative;
  width: 52vw;
  height: 70vh;
  background: url("./clock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.origin {
  background-color: black;
  width: 3%;
  height: 4%;
  border-radius: 10px;
  position: absolute;
  top: 48.5%;
  left: 48.5%;
}
#hour,
#minutes,
#seconds {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;  
}
#hour {
  width: 1.7%;
  height: 24%;
  top: 27.56%;
  left: 49%;
}
#minutes {
  width: 1.2%;
  height: 29.5%;
  top: 21%;
  left: 49.4%;
}
#seconds {
  width: 1%;
  height: 33%;
  top: 18%;
  left: 49.5%;
}
